In [1]:
import numpy as np
import pandas as pd
import math

In [8]:
df = pd.read_csv('./data.csv', sep='|')
df.tail()

/Users/juanignaciocuiule/opt/anaconda3/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3398: DtypeWarning: Columns (0) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

,client_id,Target,Month,First_product_dt,Last_product_dt,CreditCard_Premium,CreditCard_Active,CreditCard_CoBranding,Loan_Active,Mortgage_Active,...,CreditCard_Payment_External,CreditCard_Payment_Cash,CreditCard_Payment_Web,CreditCard_Payment_ATM,CreditCard_Payment_TAS,Investment_Numbers,Mobile,Email,Region,CreditCard_Product
238611,6377583,0.0,2019-04-01,2015-06-03,2019-01-04,No,Yes,No,Yes,No,...,0.0,0.0,0.0,0.0,0.0,0.0,Yes,Yes,BUENOS AIRES,J55660104XX012
238612,6412619,0.0,2019-01-01,2015-07-08,2018-06-02,No,No,No,Yes,No,...,0.0,0.0,0.0,0.0,0.0,0.0,Yes,No,NaN,NaN
238613,5542402,0.0,2019-04-01,2012-09-13,2012-09-13,No,Yes,No,No,No,...,0.0,0.0,0.0,1.0,0.0,0.0,No,Yes,REGION NORTE GRANDE ARGENTINO,J55660104XX012
238614,5921880,0.0,2019-03-01,2014-01-30,2017-05-24,No,No,No,No,No,...,0.0,0.0,0.0,0.0,0.0,0.0,Yes,Yes,CABA Centro/Norte,NaN
238615,(238615 rows affected),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

### Number of columns

In [3]:
len(df.columns)

77

### Number of rows

In [4]:
len(df)

238616

### Number of columns related to saving account

In [5]:
saving_account_columns = [col for col in df.columns if col.startswith('SavingAccount_')]
len(saving_account_columns)

29

### Number of months

In [6]:
months = pd.unique(df[df['Month'].notnull()]['Month'])
len(months)

9

### Number of clients

In [7]:
clients = pd.unique(df[df['client_id'].notnull()]['client_id'])
len(clients)

27591